# Spark DataFrames Project Exercise

Let's get some quick practice with your new Spark DataFrame skills, you will be asked some basic questions about some stock market data, in this case Walmart Stock from the years 2012-2017. This exercise will just ask a bunch of questions, unlike the future machine learning exercises, which will be a little looser and be in the form of "Consulting Projects", but more on that later!

For now, just answer the questions and complete the tasks below.

#### Use the walmart_stock.csv file to Answer and complete the  tasks below!

### Start a simple Spark Session

In [3]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession \
    .builder \
    .appName('HDInsight-mini-project') \
    .getOrCreate()

### Load the Walmart Stock CSV File, have Spark infer the data types.

In [690]:
data_file = '' # input path to file

In [599]:
df = spark.read.csv(data_file, header=True, inferSchema=True, sep=",")

### What are the column names?

In [600]:
df.columns  # prints a list of column names

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']

### What does the Schema look like?

In [601]:
df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

root
 |-- Date: timestamp (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

#### Print out the first 5 columns.

In [17]:
df.take(5) # using the take() method

[Row(Date='2012-01-03', Open=59.970001, High=61.060001, Low=59.869999, Close=60.330002, Volume=12668800, Adj Close=52.619234999999996),
 Row(Date='2012-01-04', Open=60.209998999999996, High=60.349998, Low=59.470001, Close=59.709998999999996, Volume=9593300, Adj Close=52.078475),
 Row(Date='2012-01-05', Open=59.349998, High=59.619999, Low=58.369999, Close=59.419998, Volume=12768200, Adj Close=51.825539),
 Row(Date='2012-01-06', Open=59.419998, High=59.450001, Low=58.869999, Close=59.0, Volume=8069400, Adj Close=51.45922),
 Row(Date='2012-01-09', Open=59.029999, High=59.549999, Low=58.919998, Close=59.18, Volume=6679300, Adj Close=51.616215000000004)]

In [15]:
df.show(5) # using the dataframe show() method

+----------+------------------+---------+---------+------------------+--------+------------------+
|      Date|              Open|     High|      Low|             Close|  Volume|         Adj Close|
+----------+------------------+---------+---------+------------------+--------+------------------+
|2012-01-03|         59.970001|61.060001|59.869999|         60.330002|12668800|52.619234999999996|
|2012-01-04|60.209998999999996|60.349998|59.470001|59.709998999999996| 9593300|         52.078475|
|2012-01-05|         59.349998|59.619999|58.369999|         59.419998|12768200|         51.825539|
|2012-01-06|         59.419998|59.450001|58.869999|              59.0| 8069400|          51.45922|
|2012-01-09|         59.029999|59.549999|58.919998|             59.18| 6679300|51.616215000000004|
+----------+------------------+---------+---------+------------------+--------+------------------+
only showing top 5 rows

Row(Date=datetime.datetime(2012, 1, 3, 0, 0), Open=59.970001, High=61.060001, Low=59.869999, Close=60.330002, Volume=12668800, Adj Close=52.619234999999996)


Row(Date=datetime.datetime(2012, 1, 4, 0, 0), Open=60.209998999999996, High=60.349998, Low=59.470001, Close=59.709998999999996, Volume=9593300, Adj Close=52.078475)


Row(Date=datetime.datetime(2012, 1, 5, 0, 0), Open=59.349998, High=59.619999, Low=58.369999, Close=59.419998, Volume=12768200, Adj Close=51.825539)


Row(Date=datetime.datetime(2012, 1, 6, 0, 0), Open=59.419998, High=59.450001, Low=58.869999, Close=59.0, Volume=8069400, Adj Close=51.45922)


Row(Date=datetime.datetime(2012, 1, 9, 0, 0), Open=59.029999, High=59.549999, Low=58.919998, Close=59.18, Volume=6679300, Adj Close=51.616215000000004)

#### Use describe() to learn about the DataFrame.

In [602]:
df.describe().show()  # matches below except for the date column is included

+-------+----------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|summary|      Date|              Open|             High|              Low|            Close|           Volume|        Adj Close|
+-------+----------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|  count|      1258|              1258|             1258|             1258|             1258|             1258|             1258|
|   mean|      null| 72.35785375357709|72.83938807631165| 71.9186009594594|72.38844998012726|8222093.481717011|67.23883848728146|
| stddev|      null|  6.76809024470826|6.768186808159218|6.744075756255496|6.756859163732991|  4519780.8431556|6.722609449996857|
|    min|2012-01-03|56.389998999999996|        57.060001|        56.299999|        56.419998|          2094900|        50.363689|
|    max|2016-12-30|         90.800003|        90.970001|            89.25|        90.470001|         80898100|84.91421600000001|
+-------+----------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+

+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|summary|              Open|             High|              Low|            Close|           Volume|        Adj Close|
+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|  count|              1258|             1258|             1258|             1258|             1258|             1258|
|   mean| 72.35785375357709|72.83938807631165| 71.9186009594594|72.38844998012726|8222093.481717011|67.23883848728146|
| stddev|  6.76809024470826|6.768186808159218|6.744075756255496|6.756859163732991|  4519780.8431556|6.722609449996857|
|    min|56.389998999999996|        57.060001|        56.299999|        56.419998|          2094900|        50.363689|
|    max|         90.800003|        90.970001|            89.25|        90.470001|         80898100|84.91421600000001|
+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+

## Bonus Question!
#### There are too many decimal places for mean and stddev in the describe() dataframe. Format the numbers to just show up to two decimal places. Pay careful attention to the datatypes that .describe() returns, we didn't cover how to do this exact formatting, but we covered something very similar. [Check this link for a hint](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.Column.cast)

If you get stuck on this, don't worry, just view the solutions.

In [681]:
# showing the schema that .describe() returns 
df.describe().printSchema()

root
 |-- summary: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- Volume: string (nullable = true)
 |-- Adj Close: string (nullable = true)

In [44]:
import pyspark.sql.functions as func

In [686]:
# cast specified columns as decimal with total length of 10 and precision of 2
df_decimal = df.select(
            df.Open.cast('decimal(10,2)'), \
            df.High.cast('decimal(10,2)'), \
            df.Low.cast('decimal(10,2)'), \
            df.Close.cast('decimal(10,2)'), \
            df.Volume.cast('decimal(10,2)'))

# df_decimal.show()

In [687]:
# .describe after being cast as decimal - mean and stddev still not rounded to two decimal places?
df_decimal.describe().show()

+-------+----------------+-----------------+-----------------+-----------------+---------------+
|summary|            Open|             High|              Low|            Close|         Volume|
+-------+----------------+-----------------+-----------------+-----------------+---------------+
|  count|            1258|             1258|             1258|             1258|           1258|
|   mean|       72.357854|        72.839388|        71.918601|        72.388450| 8222093.481717|
| stddev|6.76809037021648|6.768186744823553|6.744075695823193|6.756859155425468|4519780.8431556|
|    min|           56.39|            57.06|            56.30|            56.42|     2094900.00|
|    max|           90.80|            90.97|            89.25|            90.47|    80898100.00|
+-------+----------------+-----------------+-----------------+-----------------+---------------+

### showing the schema once all columns cast as decimal

In [623]:
# showing the schema after being cast as decimal
df_decimal.printSchema()

root
 |-- Open: decimal(10,2) (nullable = true)
 |-- High: decimal(10,2) (nullable = true)
 |-- Low: decimal(10,2) (nullable = true)
 |-- Close: decimal(10,2) (nullable = true)
 |-- Volume: decimal(10,2) (nullable = true)

### showing that the conversion and rounding was applied

In [624]:
df_decimal.show()

+-----+-----+-----+-----+-----------+
| Open| High|  Low|Close|     Volume|
+-----+-----+-----+-----+-----------+
|59.97|61.06|59.87|60.33|12668800.00|
|60.21|60.35|59.47|59.71| 9593300.00|
|59.35|59.62|58.37|59.42|12768200.00|
|59.42|59.45|58.87|59.00| 8069400.00|
|59.03|59.55|58.92|59.18| 6679300.00|
|59.43|59.71|58.98|59.04| 6907300.00|
|59.06|59.53|59.04|59.40| 6365600.00|
|59.79|60.00|59.40|59.50| 7236400.00|
|59.18|59.61|59.01|59.54| 7729300.00|
|59.87|60.11|59.52|59.85| 8500000.00|
|59.79|60.03|59.65|60.01| 5911400.00|
|59.93|60.73|59.75|60.61| 9234600.00|
|60.75|61.25|60.67|61.01|10378800.00|
|60.81|60.98|60.51|60.91| 7134100.00|
|60.75|62.00|60.75|61.39| 7362800.00|
|61.18|61.61|61.04|61.47| 5915800.00|
|61.80|61.84|60.77|60.97| 7436200.00|
|60.86|61.12|60.54|60.71| 6287300.00|
|60.47|61.32|60.35|61.30| 7636900.00|
|61.53|61.57|60.58|61.36| 9761500.00|
+-----+-----+-----+-----+-----------+
only showing top 20 rows

In [625]:
df.printSchema()  # original infered schema

root
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

root
 |-- summary: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- Volume: string (nullable = true)
 |-- Adj Close: string (nullable = true)

### should appear like df below:

+-------+--------+--------+--------+--------+--------+
|summary|    Open|    High|     Low|   Close|  Volume|
+-------+--------+--------+--------+--------+--------+
|  count|1,258.00|1,258.00|1,258.00|1,258.00|    1258|
|   mean|   72.36|   72.84|   71.92|   72.39| 8222093|
| stddev|    6.77|    6.77|    6.74|    6.76| 4519781|
|    min|   56.39|   57.06|   56.30|   56.42| 2094900|
|    max|   90.80|   90.97|   89.25|   90.47|80898100|
+-------+--------+--------+--------+--------+--------+

## Create a new dataframe with a column called HV Ratio that is the ratio of the High Price versus volume of stock traded for a day.

### Dataframe showing High / Volume Ratio

In [99]:
hv_ratio = df.select('*', (func.col('High') / func.col('Volume')).alias('HV Ratio'))

In [100]:
hv_ratio.select('HV Ratio').show()  # matches expected output below

+--------------------+
|            HV Ratio|
+--------------------+
|4.819714653321546E-6|
|6.290848613094555E-6|
|4.669412994783916E-6|
|7.367338463826307E-6|
|8.915604778943901E-6|
|8.644477436914568E-6|
|9.351828421515645E-6|
| 8.29141562102703E-6|
|7.712212102001476E-6|
|7.071764823529412E-6|
|1.015495466386981E-5|
|6.576354146362592...|
| 5.90145296180676E-6|
|8.547679455011844E-6|
|8.420709512685392E-6|
|1.041448341728929...|
|8.316075414862431E-6|
|9.721183814992126E-6|
|8.029436027707578E-6|
|6.307432259386365E-6|
+--------------------+
only showing top 20 rows

+--------------------+
|            HV Ratio|
+--------------------+
|4.819714653321546E-6|
|6.290848613094555E-6|
|4.669412994783916E-6|
|7.367338463826307E-6|
|8.915604778943901E-6|
|8.644477436914568E-6|
|9.351828421515645E-6|
| 8.29141562102703E-6|
|7.712212102001476E-6|
|7.071764823529412E-6|
|1.015495466386981E-5|
|6.576354146362592...|
| 5.90145296180676E-6|
|8.547679455011844E-6|
|8.420709512685392E-6|
|1.041448341728929...|
|8.316075414862431E-6|
|9.721183814992126E-6|
|8.029436027707578E-6|
|6.307432259386365E-6|
+--------------------+
only showing top 20 rows

## What day had the Peak High in Price?

#### Three methods for returning peak price

In [113]:
peak_price = max(df.select('High').rdd.flatMap(lambda x: x).collect())

In [115]:
peak_price

90.970001

In [117]:
df.agg({'High': 'max'}).collect()

[Row(max(High)=90.970001)]

In [135]:
df.agg(func.max(df.High)).collect()

[Row(max(High)=90.970001)]

#### Date matches expected, though formatting is different

In [495]:
df.select('Date').filter(df.High == peak_price).show()  # or .collect()

+----------+
|      Date|
+----------+
|2015-01-13|
+----------+

datetime.datetime(2015, 1, 13, 0, 0)

## What is the mean of the Close column?

In [178]:
df.agg(func.mean('Close')).show()  # matches expected output

+-----------------+
|       avg(Close)|
+-----------------+
|72.38844998012726|
+-----------------+

+-----------------+
|       avg(Close)|
+-----------------+
|72.38844998012726|
+-----------------+

## What is the max and min of the Volume column?

In [251]:
df.select('Volume').summary('max','min').show()

+-------+--------+
|summary|  Volume|
+-------+--------+
|    max|80898100|
|    min| 2094900|
+-------+--------+

## How many days was the Close lower than 60 dollars?

In [252]:
df.filter(df.Close < 60).count()  # matches expected output

81

81

## What percentage of the time was the High greater than 80 dollars ?
### In other words, (Number of Days High>80)/(Total Days in the dataset)

In [498]:
(df.filter(df.High > 80)).count() / df.count() *100  # Output matches

9.141494435612083

9.141494435612083

## What is the Pearson correlation between High and Volume?
### [Hint](https://spark.apache.org/docs/3.1.1/api/python/reference/api/pyspark.sql.DataFrameStatFunctions.corr.html)

In [689]:
#https://spark.apache.org/docs/3.1.1/api/python/reference/api/pyspark.sql.DataFrameStatFunctions.corr.html

df.corr('High', 'Volume')

# matches output below, but how to return the float object as a df as seen below?

-0.3384326061737161

+-------------------+
| corr(High, Volume)|
+-------------------+
|-0.3384326061737161|
+-------------------+

## What is the max High per year?

In [581]:
df.select('Date', 'High') \
    .withColumn('Year', func.year('Date')) \
    .groupBy('Year') \
    .agg(func.max('High')) \
    .orderBy('Year', ascending=True) \
    .show()

+----+---------+
|Year|max(High)|
+----+---------+
|2012|77.599998|
|2013|81.370003|
|2014|88.089996|
|2015|90.970001|
|2016|75.190002|
+----+---------+

## What is the average Close for each Calendar Month?
#### In other words, across all the years, what is the average Close price for Jan,Feb, Mar, etc... 
#### Your result will have a value for each of these months.

In [579]:
df.select('Date', 'Close') \
    .withColumn('Month', func.month('Date')) \
    .groupBy('Month') \
    .agg(func.avg('Close')) \
    .orderBy('Month', ascending=True) \
    .show()
# matches expected output

+-----+-----------------+
|Month|       avg(Close)|
+-----+-----------------+
|    1|71.44801958415842|
|    2|  71.306804443299|
|    3|71.77794377570092|
|    4|72.97361900952382|
|    5|72.30971688679247|
|    6| 72.4953774245283|
|    7|74.43971943925233|
|    8|73.02981855454546|
|    9|72.18411785294116|
|   10|71.57854545454543|
|   11| 72.1110893069307|
|   12|72.84792478301885|
+-----+-----------------+

+-----+-----------------+
|Month|       avg(Close)|
+-----+-----------------+
|    1|71.44801958415842|
|    2|  71.306804443299|
|    3|71.77794377570092|
|    4|72.97361900952382|
|    5|72.30971688679247|
|    6| 72.4953774245283|
|    7|74.43971943925233|
|    8|73.02981855454546|
|    9|72.18411785294116|
|   10|71.57854545454543|
|   11| 72.1110893069307|
|   12|72.84792478301885|
+-----+-----------------+

# Great Job!